<ion-view>
  <ion-nav-title>{{ folder.title }} [{{ notesDone }} : {{ notes.length }}]</ion-nav-title>
  <ion-content>
    <div class="empty-list" ng-if="!notes.length">
      Folder is empty
    </div>
    <div class="card"
         ng-repeat="note in notes"
         ng-click="getNoteInfo(note)">
      <div class="item item-text-wrap">
        {{ note.title }}
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="tabs tabs-icon-top padding-top">
      <a class="tab-item"
         ng-click="updateFolder()">
        <i class="icon ion-edit"></i>
      </a>
      <a class="tab-item"
         ng-click="removeFolder()">
        <i class="icon ion-trash-b"></i>
      </a>
    </div>
  </ion-footer-bar>
</ion-view>



<script id="update-folder-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <button class="button button-icon icon ion-ios-arrow-left"
              ng-click="closeFolderDialog()"></button>
      <div class="h1 title">Update folder</div>
    </ion-header-bar>
    <ion-content>
      <form>
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Title</span>
            <input type="text" placeholder="New folder"
                   ng-model="folder.title">
          </label>
        </div>
        <button class="button button-clear button-positive"
                ng-click="saveUpdate(folder)">
          Save
        </button>
      </form>
    </ion-content>
  </ion-modal-view>
</script>
