<ion-view view-title="Notes">
  <ion-content>
    <div class="card"
         ng-repeat="note in notes | filter: search.title | orderBy: sortParam">
      <div class="item item-divider" ng-click="getNoteInfo(note)">
        {{ note.title }}
      </div>
      <div class="item item-text-wrap">
        {{ note.description }}
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <a class="button button-icon icon ion-ios-plus-empty"
       ng-click="openNewNoteDialog()">
      Create note
    </a>
  </ion-footer-bar>
</ion-view>


<script id="note-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <button class="button button-icon icon ion-ios-arrow-left"
              ng-click="closeNewNoteDialog()"></button>
      <div class="h1 title">New note</div>
    </ion-header-bar>
    <ion-content>
      <form>
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Title</span>
            <input type="text" placeholder="ToDo"
                   ng-model="newNote.title">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Description</span>
            <input type="text" placeholder="Short description"
                   ng-model="newNote.description">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Folder:
            </div>
            <select ng-model="newNote.folderId" ng-click="saveNoteInfo(newNote.folderId, folder)">
              <option ng-repeat="folder in folders"
                      value="{{ folder._id }}">
                {{ folder.title }}
              </option>
            </select>
          </label>
          <label class="item item-input item-select"
                 on-hold="createMarker()">
            <div class="input-label">
              Marker:
            </div>
            <select ng-model="newNote.markerId" ng-click="saveNoteInfo(newNote.markerId, marker)">
              <option ng-repeat="marker in markers"
                      value="{{ marker._id }}">
                {{ marker.title }}
              </option>
            </select>
          </label>
        </div>
        <button class="button button-clear button-positive"
                ng-click="saveNote(newNote)">Save
        </button>
      </form>
    </ion-content>
  </ion-modal-view>
</script>

<script id="note-sort-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <button class="button button-icon icon ion-ios-arrow-left"
              ng-click="closeSortNoteDialog()"></button>
      <div class="h1 title">Sort notes</div>
    </ion-header-bar>
    <ion-content>
      <ion-list ng-click="changeSortParam(sortParam)">
        <ion-radio ng-model="sortParam" ng-value="'dateCreate'">Newest notes</ion-radio>
        <ion-radio ng-model="sortParam" ng-value="'-dateCreate'">Oldest notes</ion-radio>
        <ion-radio ng-model="sortParam" ng-value="'title'">Asc title</ion-radio>
        <ion-radio ng-model="sortParam" ng-value="'-title'">Desc title</ion-radio>
      </ion-list>
    </ion-content>
  </ion-modal-view>
</script>
