<ion-view view-title="{{ note.title }}">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        {{ note.description }}
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="tabs tabs-icon-top padding-top">
      <a class="tab-item"
          ng-click="updateNote()">
        <i class="icon ion-edit"></i>
      </a>
      <a class="tab-item"
         ng-click="removeNote()">
        <i class="icon ion-trash-b"></i>
      </a>
    </div>
  </ion-footer-bar>
</ion-view>



<script id="update-note-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <button class="button button-icon icon ion-ios-arrow-left"
              ng-click="closeNoteDialog()"></button>
      <div class="h1 title">Update note</div>
    </ion-header-bar>
    <ion-content>
      <form>
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Title</span>
            <input type="text" placeholder="ToDo"
                   ng-model="note.title">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Description</span>
            <input type="text" placeholder="Short description"
                   ng-model="note.description">
          </label>
        </div>
        <button class="button button-clear button-positive"
                ng-click="saveUpdate(note)">
          Save
        </button>
      </form>
    </ion-content>
  </ion-modal-view>
</script>
