.scroll {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.card > .item > .note-header-done {
  display: inline-flex;
  background-color: rgb(245, 245, 245);
  border-top-width: 0;
}

.empty-list {
  text-align: center;
  vertical-align: middle;
}